<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Personas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-input [(ngModel)]="searchText" placeholder="Buscar"></ion-input>
        <ion-button (click)="addPeople()">
            <ion-icon slot="icon-only" name="contact"></ion-icon>
        </ion-button>
    </ion-item>

    <ion-card *ngFor="let people of peoples | search : searchText; let i = index">
        <ion-card-header>
            <ion-card-title>{{people.name}}</ion-card-title>
            <ion-card-subtitle>{{people.heroe}}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            {{people.biography}}
        </ion-card-content>
    </ion-card>
</ion-content>